@import '../components/common/global';
@import '../components/common/variables';

.detail {

  .carousel-wrapper {
    max-width: 720px;
    margin: 25px auto 0;
    position: relative;
    //padding: 0 5px;
  }

  .carousel {
    background: #222;
    //border-radius: 5px;
  }

  .hero {
    max-width: 720px;
    margin: 0 auto;
  }

  .react-parallax {

    max-width: 720px;
    margin: 25px auto 0;

    &:first-child {
      margin: 0 auto;
    }

  }

  .title {
    max-width: 720px;
    margin: 25px auto 0;
    padding: 0 15px;
    font-size: 1.4em;
    color: #333;
    font-family: 'Roboto Slab', serif;
  }

  h2 {
    max-width: 720px;
    margin: 25px auto 0;
    padding: 0 15px;
    font-size: 1.1em;
    color: #333;
    font-family: 'Roboto Slab', serif;
  }

  .tags {

    max-width: 720px;
    margin: 15px auto 0;
    padding: 0 15px;

    a {
      font-size: .9em;
      font-weight: 500;
      font-family: 'Muli', sans-serif;
      color: #888;
    }

  }

  p {
    max-width: 720px;
    margin: 25px auto;
    padding: 0 15px;
    line-height: 150%;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #222;
  }

  .date {
    font-size: .85em;
    color: #888;
    font-family: 'Muli', sans-serif;
  }

}

