@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Nanum+Pen+Script|Roboto+Slab:300,400,700&amp;subset=latin-ext');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~normalize.css/normalize.css';
//@import '~aos/dist/aos.css';
@import './variables';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

* {
    box-sizing: border-box;
    outline: none;
}

.head {

  position: relative;
  margin-bottom: 23px;

  h1 {
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    margin: 0;
  }

  .add {
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
